*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('imagee/zenitsu.jpg');
    background-size:cover;
}
form{
    margin-top: 50px;
    text-align: center;
}
input{
    display: block;
    width:350px;
    height: 40px;
    margin:20px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px soild rgb(206, 177, 177);
    background: transparent;
}
button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(223, 227, 15);
    border:none;
    color: rgb(20, 19, 19);
    margin-top: 30px;
}
form h1{
    margin-bottom: 30px;
}
::placeholder{
    color:rgb(241, 241, 242)
}